@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --radius: 0.625rem;

  /* Component Colors */
  --component-color-0: #FFBE0B;
  --component-color-1: #FF006E;
  --component-color-2: #00F5D4;
  --component-color-3: #8338EC;
  --component-color-4: #49BB76;
  --component-color-5: #3A86FF;
  --component-color-6: #FB5607;
  --component-color-7: #94AEC9;
  --component-color-8: #FF9671;
  --component-color-9: #328850;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(1 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}